Repository andersr/mylib: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

chore: add check types to all packages
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm run lint:fix, pnpm run format:fix

fix: add run tests to lint-staged
  .lintstagedrc
Due: none

chore: separate test:dev and test scripts
  package.json
  packages/utils/package.json
Due: pnpm run lint:fix, pnpm run format:fix

chore: utils pkg build fixes
  .lintstagedrc
  packages/tsconfig/base.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
  packages/utils/tsup.config.ts
  packages/utils/vite-env.d.ts
  packages/utils/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

Add-utils (#4)
  .lintstagedrc
  .npmrc
  .vscode/extensions.json
  README.md
  apps/docs/package.json
  apps/docs/stories/Button.stories.ts
  apps/docs/tsconfig.app.json
  apps/docs/tsconfig.json
  apps/docs/tsconfig.node.json
  package.json
  packages/tsconfig/base.json
  packages/tsconfig/react-library.json
  packages/ui/package.json
  packages/utils/package.json
  packages/utils/src/timeAgo/timeAgo.test.ts
  packages/utils/src/timeAgo/timeAgo.ts
  packages/utils/tsconfig.json
  packages/utils/tsup.config.ts
  packages/utils/vite-env.d.ts
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

feat: Add util test components
  apps/docs/package.json
  apps/docs/stories/Button.stories.ts
  apps/docs/stories/TimeAgo.stories.ts
  apps/docs/stories/components/TimeAgo.tsx
  apps/docs/tsconfig.app.json
  apps/docs/tsconfig.node.json
  pnpm-lock.yaml
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

fix: lint-staged globs
  .lintstagedrc
Due: none

fix: linting config fixes
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: pnpm run lint:fix, pnpm run format:fix

fix: tsconfig cleanup and fixes
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/reactlib.json
  packages/ui/package.json
  packages/ui/tsconfig.json
Due: pnpm run lint:fix, pnpm run format:fix

chore: release prep
  .npmrc
  LICENSE
Due: none

chore: update ReadMe
  README.md
  packages/utils/README.md
Due: pnpm run format:fix

chore:: add slash to file path in package.json
  packages/utils/package.json
Due: pnpm run lint:fix, pnpm run format:fix

fix: rm allowJs from docs app build config
  apps/docs/tsconfig.app.json
Due: pnpm run lint:fix, pnpm run format:fix

feat: Add util test components (#5)
  .lintstagedrc
  .npmrc
  LICENSE
  README.md
  apps/docs/package.json
  apps/docs/stories/Button.stories.ts
  apps/docs/stories/TimeAgo.stories.ts
  apps/docs/stories/components/TimeAgo.tsx
  apps/docs/tsconfig.app.json
  apps/docs/tsconfig.node.json
  eslint.config.mjs
  package.json
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/reactlib.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/utils/README.md
  packages/utils/package.json
  pnpm-lock.yaml
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

docs: Update main ReadMe
  README.md
Due: pnpm run format:fix

chore: add dry run publish script
  package.json
Due: pnpm run lint:fix, pnpm run format:fix

refactor: :construction: package publish config update - remove dry-run - add provenance true, access public to publish config
  package.json
Due: pnpm run lint:fix, pnpm run format:fix

refactor: :construction: initial pkg publish - remove dry-run - no provenance for now - add access public to publish config - add force to overwrite legacy packages - use rc0 versions
  .npmrc
  package.json
  packages/tsconfig/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm run lint:fix, pnpm run format:fix

build: :construction: update pkg version numbers to exceed legacy versions
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm run lint:fix, pnpm run format:fix

fix(utils): :bug: Fix daysjs import error
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

chore: add commit scope
  .vscode/settings.json
Due: pnpm run lint:fix, pnpm run format:fix

build: remove dayjs as a dev dependency
  packages/utils/package.json
  pnpm-lock.yaml
Due: pnpm run lint:fix, pnpm run format:fix

fix: update git repo in package.json
  package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm run lint:fix, pnpm run format:fix

chore: update ReadMe
  README.md
Due: pnpm run format:fix

build(ui): :construction_worker: set react, reac-dom as peer deps
  .vscode/settings.json
  packages/ui/package.json
Due: pnpm run lint:fix, pnpm run format:fix

chore(ui): :construction_worker: Bump version
  packages/ui/package.json
Due: pnpm run lint:fix, pnpm run format:fix

Pkg-fixes (#6)
  .vscode/settings.json
  README.md
  package.json
  packages/ui/package.json
  packages/utils/package.json
Due: pnpm run lint:fix, pnpm run format:fix

fix(utils): :bug: fix .pnpm module import error
  .lintstagedrc
  apps/docs/tsconfig.app.json
  apps/docs/tsconfig.node.json
  package.json
  packages/ui/vite.config.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
  packages/utils/vite.config.ts
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

feat(ui): Add Required component
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Required/Required.tsx
  packages/ui/src/index.ts
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

fix(ui): ensure types are exported correctly
  .gitignore
  apps/docs/.storybook/preview.ts
  apps/docs/stories/Icon.stories.ts
  apps/docs/tsconfig.app.json
  packages/ui/package.json
  packages/ui/src/main.ts
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

docs(ui): More informative component docs
  apps/docs/stories/Icon.stories.ts
  packages/ui/src/components/Icon/Icon.tsx
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

chore: enable tw classes autocomplete for .*Styles
  .vscode/settings.json
  pnpm-lock.yaml
Due: pnpm run lint:fix, pnpm run format:fix

docs(ui): Add Required component story
  apps/docs/stories/Required.stories.tsx
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

feat(ui): Add component testing
  .gitignore
  packages/ui/package.json
  packages/ui/src/components/Icon/Icon.test.tsx
  packages/ui/testSetup.js
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

feat(ui): :sparkles: Add IconButton component
  packages/ui/src/components/IconButton/IconButton.tsx
  packages/ui/src/main.ts
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

fix(ui): :bug: Fix build config to support both cjs and mjs
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

Add usable components (#7)
  .gitignore
  .vscode/settings.json
  apps/docs/.storybook/preview.ts
  apps/docs/stories/Icon.stories.ts
  apps/docs/stories/Required.stories.tsx
  apps/docs/tsconfig.app.json
  packages/ui/package.json
  packages/ui/src/components/Icon/Icon.test.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/IconButton/IconButton.tsx
  packages/ui/src/components/Required/Required.tsx
  packages/ui/src/main.ts
  packages/ui/testSetup.js
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

test(ui): :test_tube: Add IconButton click test
  packages/ui/package.json
  packages/ui/src/components/IconButton/Icon.test.tsx
  pnpm-lock.yaml
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

refactor(ui): :building_construction: Fix naming of IconButton test file
  packages/ui/src/components/IconButton/IconButton.test.tsx
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

fix: :bug: Linting config fixes
  apps/docs/stories/@types/css.d.ts
  apps/docs/tsconfig.app.json
  eslint.config.mjs
  package.json
  packages/ui/package.json
  packages/ui/src/components/Icon/Icon.test.tsx
  packages/ui/tsconfig.json
  packages/ui/tsconfig.node.json
  packages/utils/package.json
  packages/utils/src/main.ts
  packages/utils/tsconfig.node.json
  packages/utils/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run check:types, pnpm run lint:fix, pnpm run format:fix

Path conditions:
  pnpm run check:types: any of: **/*.{ts,tsx}
  pnpm run lint:fix: any of: **/*.{js,json,ts,tsx}
  pnpm run format:fix: any of: **/*.{js,jsx,ts,tsx,json,css,md}
